.testimonial {

    text-align: center;
    padding: 3rem 0;

    h6 {
        color: #B0914F;
        font-family: "cinzel decorative";
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    &__hotel {
        font-family: "cinzel decorative";
        font-size: 3rem;
        padding-bottom: 2rem;
        position: relative;
        color: #333;

        @mixin atSmall {
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__hotel:after {
        position: absolute;
        content: ' ';
        width: 2rem;
        height: 2px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: #B0914F;
    }

    &__stars {
        padding: 2rem 0;
        color: #EEE;

        .fa-star {
            color: #F2BF52;
        }
        @mixin atSmall{
            padding: 1rem 0;
        }
    }

    &__text {
        font-family: "Raleway";
        text-align: center;
        font-weight: 500;
        font-style: italic;
        padding: 0rem 18rem;
        line-height: 2rem;
        color: #7b7b7b;
        font-size: 14px;

        @mixin atSmall{
            padding: 0 1rem;
        }
    
    }

    &__author {
        color: #000;
        font-size: 14px;
        font-weight: 600;

        span {
            color: #B0914F;
        }

        padding-bottom: 1rem;
    }

    &__dot {
        font-size: 14px;
        color: #EEE;

        i {
            padding: 0 0.3rem;
        }

        :hover {
            cursor: pointer;
        }

        span:first-child {
            color: #B0914F;
        }
    }

}
